*{
   margin: 0px;
   padding: 0px;
   font-family: 'Montserrat', sans-serif;
}
.shalter img{
    margin: 0px;
    width: 1350px;
}

.navcontainer{
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
    padding-top: 10px;
    position: sticky;
    top: 0px;
    background-color: white;
}
.navbar{
    display: flex;
    background-color: white;
    font-weight: 500;
}
.navbar ul{  
    list-style: none;
    display: flex;
    width: 100%;
    font-size: 1.1rem;
    text-align: center;
    gap: 20px;
}
.navbar li:hover{
    color: rgb(224, 42, 42);
    cursor: pointer;
}


.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 40px;
  background: white;
}
.header-left, .header-right {
  display: flex;
  align-items: center;
  gap: 15px;
}

.info-box {
  display: flex;
  align-items: center;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 5px 12px;
  gap: 10px;
  height: 45px;
}

.text-content {
  display: flex;
  flex-direction: column;
}

.text-content strong {
  font-size: 15px;
  color: #000;
}

.text-content span {
  font-size: 11px;
  color: #666;
}

.logo {
  height: 100px;
  margin-right: 20px;
}

.red-text {
  color: #e4002b;
  font-size: 20px;
}

.cart{
    position: static;
}

.cart-box {
  position: relative;
  border: 1px solid #ddd;
  padding: 5px;
  border-radius: 8px;
}

.cart-count {
  position: absolute;
  bottom: -5px;
  left: -5px;
  background: #ffc107;
  color: black;
  font-weight: bold;
  font-size: 12px;
  padding: 2px 6px;
  border-radius: 50%;
}


.menu-btn {
  background: #ff8a8a;
  border: none;
  width: 40px;
  height: 40px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4px;
  cursor: pointer;
}

.menu-btn span {
  width: 20px;
  height: 3px;
  background: rgb(224, 32, 32);
  border-radius: 2px;
}

.cart-box:hover, .info-box:hover{
    transform: scale(1.1);
}

.hero{
   width: 100%;
   display: flex;
   justify-content: center;
}
.hero img{
    width: 95%;
    justify-content: center;
    border-radius: 20px;
}
::-webkit-scrollbar{
    background-color: #f0f0f0;
}
::-webkit-scrollbar-thumb{
    background-color: red;
    border-radius: 20px;
}
::-webkit-scrollbar-thumb:hover{
    background-color: rgb(133, 133, 133);
}

:root {
  --card-width: 160px;
}

.slider-wrapper {
  display: flex;
  align-items: center;
  max-width: 1500px;
  margin: auto;
}

.product-container {
  display: flex;
  gap: 10px;
  overflow-x: auto;
  scroll-behavior: smooth;
  padding: 20px;
  scroll-snap-type: x mandatory;
  scrollbar-width: none;
}

.product-container::-webkit-scrollbar {
  display: none;
}

.product-card {
  flex: 0 0 var(--card-width);
  text-align: center;
  scroll-snap-align: start; 
}

.image-box {
  overflow: hidden;
}

.nav-btn {
  background: white;
  border: 1px solid #ddd;
  border-radius: 50%;
  width: 70px;
  height: 40px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

.inp{
    border: 1px solid red;
    border-radius: 20px;
    display: flex;
    width: 1000px;
    justify-self: center;
    margin-top: 20px;
}
.inp img{
    width: 50px;
}
input{
    border: none;
}
.Popular{
    margin: 30px 30px 30px;
}
.popimg{
   display: flex;
   align-items: end;

}

.popimg h1{
    font-size: 40px;
}
.popimg img{
   height: 70px;
   width: 70px;
}
.popcontent h4{
    font-weight: lighter;
    font-size: 20px;
}

.product-bigbox {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    gap: 10px;
    padding: 20px 5%;
}

.product-box {
    background: #f5f5f5;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0px 2px 3px rgb(206, 206, 206);
}

.product-box img { width: 100%; display: block; }

.card-infr { padding: 15px; }

.pricedet {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    font-weight: 800;
}

.add-b {
    background: var(--brand-red);
    color: white;
    background-color: red;
    border: none;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    font-size: 20px;
}
.product-box:hover{
    cursor: pointer;
    transform: scale(1.1);
}

.add img{
    margin: 10px auto auto auto;
    width: 100%;
}

.product-id {
    display: flex;
    flex-direction: column;
    background: white;
    border: 1px solid #eee;
    border-radius: 15px;
    overflow: hidden;
    flex: 1 1 calc(25% - 20px);
    min-width: 250px;
    width: 300px;
    height: 350px;
}

.product-id img {
     border-radius: 10px;
     height: 200px; 
     object-fit: cover; 
     margin-top: 5px;
     margin-left: 5px;
     margin-right: 5px;
    }

.card-body {
    padding: 15px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.card-body h3 { font-size: 16px; margin: 0 0 10px 0; }
.card-body p { font-size: 12px; color: #777; flex-grow: 1; }

.card-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}

.price-id { font-weight: 800; font-size: 18px; }

.addbtn {
    background: var(--brand-red);
    color: rgb(255, 255, 255);
    background-color: red;
    border: none;
    padding: 8px 20px;
    border-radius: 5px;
    font-weight: 700;
    cursor: pointer;

}

.father{
    display: flex;
    justify-self: center;
    gap: 20px;
    margin-top: 30px;
}
.product-id:hover{
    transform: scale(1.1);
}